/* * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.todo {
    display: grid;
    grid-template-columns: 40% 60%;
}

.title {
    display: inline-block;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.title::after {
    content: '';
    display: block;
    width: 33%;
    height: 2px;
    background-color: #000;
}

ul {
    list-style-type: none;
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

span {
    width: 200px;
    display: inline-block;
    position: relative;
    font-weight: 300;
    font-size: 20px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 15px;
    text-transform: uppercase;
}

li {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

li::before {
    content: '';
    position: absolute;
    bottom: -5px;
    display: block;
    width: calc(100% - 40px);
    height: 2px;
    background-color: #FFD500;
}

input {
    margin-top: 35px;
    width: 270px;
    height: 45px;
    line-height: 50px;
    font-size: 16px;
    background: rgba(196,196,196,0.29);
    border: 1px solid rgba(0,0,0,0.19);
    padding: 0 15px;
    outline: none;
    border-radius: 4px;
}

.addBtn {
    display: block;
    margin-top: 15px;
    width: 170px;
    height: 45px;
    background: #FFD500;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}

.wrapper {
    padding: 30px 0 0 60px;
}

.button {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #FFD500;
    font-weight: bold;
    font-size: 15px;
    line-height: 14px;
    color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
    margin-left: 20px;
} */

body {
    background-color: #F2F7F8;
    ;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito', sans-serif;
}

.todo {
    height: 100%;
    display: flex;
}

.todo-menu {
    position: fixed;
    padding: 40px;
    height: 100vh;
    background-color: white;
}

.list {
    list-style: none;
}

.todo-descr {
    display: block;
    font-weight: 400;
    font-size: 15px;
    line-height: 17px;
    text-align: center;
    color: #7F7F7F;
}

.todo-logo {
    display: block;
    margin: 0 auto 50px auto;
} 

.menu-item-logo {
    display: block;
    margin: 0 auto 18px auto;
}

.menu-item {
    margin-bottom: 30px;
}

.todo-descr:hover {
    cursor: pointer;
    color: #029AAD;
}

.todo-main {
    margin: 100px 80px 0 330px;
    width: 100%;
    background-color: white;
    padding: 30px;
    border: 1px solid #F0F0F0;
    border-radius: 20px;
}

.title {
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    color: #001529;
    margin-bottom: 30px;
}

hr {
    height: 0px;
    border: 1px solid #DDEEF2;
}

.subtitle {
    font-weight: 400;
    font-size: 17px;
    color: #7F7F7F;
    margin-top: 30px;
}

.create-task_input {
    width: 80%;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-shadow: 0px 1px 4px rgba(219, 219, 219, 0.3);
    border-radius: 10px;
    margin-top: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #001529;
    padding: 20px;
}

.addBtn {
    width: 277px;
    height: 58px;
    background: #029AAD;
    border: 1px solid #029AAD;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    transition: .5s all;
}

.addBtn:hover {
    background: #fff;
    color: #029AAD;
}

.menu_log-out {
    position: absolute;
    bottom: 50px
}

.main-item {
    display: grid;
    grid-template-columns: 44% 23% 25%;
    width: 100%;
    height: 50px;
    background: #DDEEF2;
    list-style: none;
    padding: 16px;
}

.main-item>span {
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #029AAD;
}

.main-list {
    border: 1px solid #C4C4C4;
    border-radius: 5px;
    margin-top: 30px;
}

.task-item {
    height: 67px;
    list-style: none;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 24% 24% 3% 3% 3%;
    column-gap: 5px;    
    padding: 10px;
    justify-content: center;
    align-items: center;

    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #001529;
}

.task-item:nth-child(2n+1) {
    background: #F0F0F0;
}

.button {
    background: #029AAD;
    border-radius: 10px;
    border: 1px solid #029AAD;
    color: white;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s all;
}
.button:hover {
    background: #fff;
    color: #029AAD;
}

.create_task {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.header {
    position: absolute;
    height: 40px;
    padding: 0 80px 0 330px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.header_arrow {
    margin-right: 30px;
}

.header_icons {
    margin-right: 25px;
}

.header_search {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #7F7F7F;
    background-color: #F2F7F8;
    border: none;
    width: 66%;
}

.header_settings {
    margin: 0 30px;
}

.header_ava {
    margin-right: 10px;
}

.header_title {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #001529;
    margin-bottom: 5px;
}

.header_subtitle {
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #7F7F7F;
}

.header_logout {
    margin-left: 15px;
}

.authorization {
    height: 100vh;
    background: #001529;
    box-shadow: 0px 4px 250px rgba(0, 0, 0, 0.25);
}

.authorization_main {
    margin: 0 auto;
    padding-top: 200px;
    width: 500px;
    height: 531px;
}

.authorization_logo {
    margin: 0 auto;
    display: block;
}

.authorization_descr {
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 50px;
}

input[name="login"] {
    width: 500px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    margin-top: 70px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 40px;
}

input[name="password"] {
    width: 500px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #F0F0F0;
    border-radius: 5px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: rgba(0, 0, 0, 0.3);
    padding: 20px;
    margin-bottom: 40px;
}

input[type="checkbox"] {
    width: 17px;
    height: 17px;
    cursor: pointer;
}

.authorization_text {
    margin-left: 8px;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
}

.authorization_btn {
    width: 125px;
    height: 56px;
    background: #029AAD;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    display: block;
    margin: 0 auto;
    margin-top: 70px;
    cursor: pointer;
    transition: .5s all;
}

.authorization_btn:hover {
    background: #fff;
    color: #029AAD;
}